/* Full Page Background */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1492724441997-5dc865305da7");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Main Container */
.container {
  padding: 30px;
  max-width: 900px;
  margin: auto;
  color: rgb(207, 190, 190);
}

/* Heading */
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  letter-spacing: 1px;
}

/* Controls */
.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.controls input,
.controls select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.2);
  color: rgb(0, 0, 0);
}

.controls input::placeholder {
  color: #000000;
}

/* Glass Card Effect */
.card {
  margin: 12px 0;
  padding: 15px;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  text-align: center;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);

  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 25px rgba(0,0,0,0.5);
}

.card p {

  font-size: 16px;
  margin: 6px 0;}


.card p:first-child {
  font-size: 22px;
  font-weight: bold;
  color: #00ffd5;
}

/* Pagination */
.pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.pagination button {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  color: rgb(27, 27, 27);
  cursor: pointer;
  transition: 0.3s;
}

.pagination button:hover {
  transform: scale(1.1);
}

.pagination button:disabled {
  background: gray;
  cursor: not-allowed;
}

.pagination span {

  font-size: 18px;
  font-weight: bold;
  text-align: center;}

h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #ffffff;
}